@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Lazydog";
    src: url("@/assets/fonts/lazydog.ttf");
}

* {
    font-family: "Lazydog" !important;
    text-transform: none;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

*::-webkit-scrollbar-track {
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

*::-webkit-scrollbar-button {
    display:none;
}

.overflow-hidden {
    overflow: hidden !important;
}

html.overflow-hidden, body.overflow-hidden {
    overflow: hidden !important;
}

.text-lato {
    font-family: "Lato", sans-serif !important;
    text-transform: none !important;
}

.vc-highlight-bg-solid {
    padding: 16px !important;
}

.clr-primary, .vc-highlight-bg-solid {
    background-color: #1a172a !important;
}

.clr-secondary {
    background-color: #EBB797 !important;
}

.brdr-secondary {
    border-color: #f7ae81 !important;
}

.outlined-secondary {
    border-top: 2px !important;
    border-left: 2px !important;
    border-right: 2px !important;
    border-style: solid !important;
    border-radius: 6px !important;
    border-color: #f7ae81 !important;
    background-color: white !important;
}

.brdr-dark {
    border-color: black !important;
    border-width: 1px 1px 1px 1px !important;
}

.hp-navbar {
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.selected-menu {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.menu-selected {
    padding-bottom: 12px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 4px 0px !important;
}

.vc-title {
    background-color: white !important;
}

#date-picker {
    padding: 4px;
    border-width: 2px !important;
}

.vc-week:last-child {
    display: none;
}

.vc-time-select-hours,
.vc-time-select-minutes,
.vc-base-select select {
    border: none !important;
}

.vc-time-day,
.vc-time-month,
.vc-time-year,
.vc-time-select-group svg {
    color: #1a172a !important;
}

@media only screen and (max-width: 771px) {
    .desktop-only { display: none; }

    .mobile-only { display: block; }
}

@media only screen and (min-width: 770px) {
    .mobile-only { display: none; }

    .main-content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .vc-header {
        margin-top: 16px !important;
    }

    .vc-header, .vc-day {
        margin-bottom: 12px;
    }
}